# Node modules
node_modules

# Output
dist

# Cache
cache

# Logs
logs
*.log

# User defined folders
config

# Environment variables
.env

# SonarCloud
.sonarcloud.properties

# EditorConfig
.editorconfig

# ESLint
.eslint*
eslint.config.js

# Git
.git
.gitattributes
.gitignore

# GitHub
.github/
LICENSE
*.md

# Docker
.dockerignore
Dockerfile
compose.yaml
compose.*.yaml

# IDEs
.idea
.vscode
